**/node_modules
**/.env
**/.env.*
!**/.env.example
**/dist
**/.git
**/.gitignore
**/logs
**/uploads
**/*.log
**/README.md
**/SETUP_GUIDE.md
**/.postman
**/postman
ecosystem.config.js
deploy.sh
nginx.conf
docker-compose.yml
